# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Douyu.settings

# 设置一个scrapyd的服务名，后面是爬虫名
[deploy:scrapyd_Douyu]
# url地址表示开启scrapyd服务主机的ip
url = http://localhost:6800/
project = Douyu
